%link{:rel => 'stylesheet', :href => '/plugin/lokka-syntax_highlighter/views/styles/shCore.css', :type => 'text/css'}
%link{:rel => 'stylesheet', :href => '/plugin/lokka-syntax_highlighter/views/styles/shThemeDefault.css', :type => 'text/css'}
