%h2 Syntax Highlighter
%h3 &lt;pre class="brush:***";&gt;Sample Code&lt;/pre&gt;
%br
%table
  %thead
    %tr 
      %th 言語
      %td aliases
  %tbody
    %tr 
      %th AppleScript
      %td applescript
    %tr
      %th ActionScript3
      %td actionscript3 as3
    %tr
      %th Bash/shell
      %td bash shell
    %tr
      %th ColdFusion
      %td coldfusion cf
    %tr
      %th C++
      %td cpp c
    %tr
      %th C#
      %td c# c-sharp csharp
    %tr
      %th CSS
      %td css
    %tr
      %th Delphi
      %td delphi pascal
    %tr
      %th Diff
      %td diff patch pas
    %tr
      %th Erlang
      %td erl erlang
    %tr
      %th Groovy
      %td groovy
    %tr
      %th Java
      %td java
    %tr
      %th JavaFX
      %td jfx javafx
    %tr
      %th JavaScript
      %td js jscript javascript
    %tr
      %th Perl
      %td perl pl
    %tr
      %th PHP
      %td php
    %tr
      %th Plain Text
      %td text plain
    %tr
      %th Python
      %td py python
    %tr
      %th Ruby
      %td ruby rails ror rb
    %tr
      %th Sass
      %td sass scss
    %tr
      %th Scala
      %td scala
    %tr
      %th SQL
      %td sql
    %tr
      %th Visual Basic
      %td vb vbnet
    %tr 
      %th XML HTML
      %td xml xhtml xslt html
